@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Chat</h1>sadfasdf
    <div class="container">
        <div class="row">
            <div class="col">
                @Html.TextArea("Input", string.Empty, new {@class = "form-control"})
            </div>
            <div class="col">
                <a href="#" onclick="">Send</a>
            </div>
        </div>
    </div>
</div>