@model IEnumerable<ShopSummary>

@{
    ViewBag.Title = "Weather forecast";
    Layout = "_Layout";
}

<h2>Weather forecast</h2>

<div class="container">
  <div class="row">
    <div class="col">
      Shop in
    </div>
    <div class="col">
      Rating
    </div>
  </div>
  @foreach (var forecast in this.Model)
  {
    <div class="row">
      <div class="col">
        @Html.ActionLink(forecast.Address.ToString(), "Details", forecast)
      </div>
      <div class="col">
        @forecast.Rating
      </div>
    </div>
  }
</div>